<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>四則演算クイズ</title>
	</head>
	<body>
		<h1>計算問題設定</h1>
		
		<form th:action="@{/generate-questions}" method="post">
			<!-- 演算選択 -->
			<div>
				<label for="mode">計算の種類</label>
				<select id="mode" name="mode">
					<option th:each="mode, stat : *{modes}" th:value="*{mode.name}" th:text=*{mode.label}></option>
				</select>
			</div>
			
			<!-- 問題数選択 -->
			<div>
				<label for="count">問題数</label>
				<select id="count" name="count">
					<option value="5">5問</option>
					<option value="10">10問</option>
					<option value="15">15問</option>
					<option value="20">20問</option>
				</select>
			</div>
			
			<button type="submit">問題を作成する</button>
		</form>
	</body>
</html>