<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<html>
<head>
	<meta charset="UTF-8">
	<title>[[${mode.name}]]</title>
</head>
<body>
	<h1>[[${mode.name}]]</h1>
	<div>
		<form th:action="@{/scoring}" method="post">
			<hidden name="mode" value="${mode.value}" />
			<ul style="list-style: none;">
				<li th:each="quiz, stat : ${quizzes}">
					[[${stat.count}]]． [[${quiz.num1}]] [[${mode.operator}]] [[${quiz.num2}]] ＝ <input type="text" name="ans${stat.count}" size="2" maxlength="5" />
				</li>
			</ul>
			<button type="submit">採点</button>
		</form>
	</div>
</body>
</html>
